In [2]:
import pandas as pd
import numpy as np

In [28]:
raw_df = pd.read_csv('data/dataframes/raw.csv')

print(f'finishing_pos: {type(raw_df['finishing_pos'][0])}')
print(f'circuit_id:  {type(raw_df['circuit_id'][0])}')
print(f'driver_id: {type(raw_df['driver_id'][0])}')
print(f'constructor_id: {type(raw_df['constructor_id'][0])}')
print(f'grid_pos: {type(raw_df['grid_pos'][0])}')
print(f'status: {type(raw_df['status'][0])}')
print(f'fastest_lap_missing: {type(raw_df['fastest_lap_missing'][0])}')
print(f'fastest_lap: {type(raw_df['fastest_lap'][25])}')
print(f'fastest_lap_avg_speed: {type(raw_df['fastest_lap_avg_speed'][0])}')

#todo: circuit_id, driver_id, constructor_id, status, and fastest_lap are all strings

finishing_pos: <class 'numpy.int64'>
circuit_id:  <class 'str'>
driver_id: <class 'str'>
constructor_id: <class 'str'>
grid_pos: <class 'numpy.int64'>
status: <class 'str'>
fastest_lap_missing: <class 'numpy.int64'>
fastest_lap: <class 'str'>
fastest_lap_avg_speed: <class 'numpy.float64'>

In [ ]:
# convert xx:xx.xx to seconds
#* DONE

def fastest_lap_to_seconds(time):
    if time != '300':
        try:
            minutes, seconds = time.split(':')
            return (float(minutes) * 60) + float(seconds)
        except Exception as e:
            print(time)
    else:
        return 300

raw_df['fastest_lap'] = raw_df['fastest_lap'].apply(fastest_lap_to_seconds)
raw_df

,finishing_pos,circuit_id,driver_id,constructor_id,grid_pos,status,fastest_lap_missing,fastest_lap,fastest_lap_avg_speed
0,1,hungaroring,webber,red_bull,2,Finished,0,82.651,190.821
1,2,hungaroring,alonso,ferrari,3,Finished,0,83.195,189.573
2,3,hungaroring,vettel,red_bull,1,Finished,0,82.362,191.491
3,4,hungaroring,massa,ferrari,4,Finished,0,83.329,189.269
4,5,hungaroring,petrov,renault,7,Finished,0,83.799,188.207
...,...,...,...,...,...,...,...,...,...
8645,16,monza,kevin_magnussen,haas,11,Finished,0,83.768,248.959
8646,17,monza,ricciardo,red_bull,19,Engine,0,85.692,243.369
8647,18,monza,alonso,mclaren,13,Engine,0,85.229,244.691
8648,19,monza,brendon_hartley,toro_rosso,16,Brakes,0,87.009,239.685
8649,20,monza,grosjean,haas,6,Disqualified,1,300.000,0.000

In [33]:
df = pd.DataFrame({'driver_id': ['hamilton', 'verstappen', 'bottas']})
df_encoded = pd.get_dummies(df, columns=['driver_id'], prefix='driver')

bool_cols = df_encoded.select_dtypes(include=['bool']).columns
df_encoded[bool_cols] = df_encoded[bool_cols].astype(int)
df_encoded

   driver_bottas  driver_hamilton  driver_verstappen
0              0                1                  0
1              0                0                  1
2              1                0                  0

In [34]:
# one hot encoding for categorical columns

raw_df = pd.get_dummies(raw_df, columns=['circuit_id', 'driver_id', 'constructor_id', 'status'], prefix={
    'circuit_id': 'circuit',
    'driver_id': 'driver',
    'constructor_id': 'constructor',
    'status': 'status'
})

bool_cols = raw_df.select_dtypes(include=['bool']).columns
raw_df[bool_cols] = raw_df[bool_cols].astype(int)
raw_df

,finishing_pos,grid_pos,fastest_lap_missing,fastest_lap,fastest_lap_avg_speed,circuit_albert_park,circuit_americas,circuit_bahrain,circuit_baku,circuit_buddh,...,status_Tyre puncture,status_Undertray,status_Vibrations,status_Water leak,status_Water pressure,status_Water pump,status_Wheel,status_Wheel nut,status_Wheel rim,status_Withdrew
0,1,2,0,82.651,190.821,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,3,0,83.195,189.573,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1,0,82.362,191.491,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,4,0,83.329,189.269,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,7,0,83.799,188.207,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8645,16,11,0,83.768,248.959,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8646,17,19,0,85.692,243.369,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8647,18,13,0,85.229,244.691,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8648,19,16,0,87.009,239.685,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8649,20,6,1,300.000,0.000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
raw_df.to_csv('data/dataframes/raw_numerical.csv', index=False)